<footer class="navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="text-muted">I'm on the internet, too.</span>
      </div>
      <div class="col-md-2">
        <a href="https://github.com/jcody">
          <div class="meta"><i class="fa fa-1x fa-github"></i>
            <span class="meta">@jcody</span>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.linkedin.com/in/joeycody">
          <div class="meta"><i class="fa fa-1x fa-linkedin-square"></i>
            <span class="meta">Joey Cody</span>
          </div>
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://twitter.com/joeycdy">
          <div class="meta"><i class="fa fa-1x fa-twitter"></i>
            <span class="meta">@joeycdy</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
