---
title: Joey Cody

current_city: San Francisco, CA
lat: 37.788337
lon: -122.407316
---
<div class="homepage">
  <div class="intro">
    <div class="container">
      <h1>👋 Hello...<span class="blinker">|</span></h1>
      <h2>I'm an Engineering Manager in <%= current_page.data.current_city %></h2>
      <br>
      <p></p>
      <br>
      <div class="row">
        <div class="want col-sm-2 col-sm-offset-4 col-xs-offset-3 col-xs-3">
          <%= link_to 'Work', "/resume", class: 'more' %>
        </div>
        <div class="want col-sm-2 col-xs-3">
          <%= link_to 'Contact', "/contact", class: "more" %>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="sub-call">
    <div class="container">
    <br>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="intro-text current text-center">Currently I hack on Ruby apps at <%= link_to '⛲ Fountain. ⛲', 'https://fountain.com', class: 'highlight' %></h4>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
